<%- include("../partials/head") %> 
<%- include("../partials/headerProductForm") %> 

<main>
  <form action="/store/universe/create" method="post">
    <input type="text" name="universe" id="universe">

    <button type="submit">
      Crear Universo
    </button>
  </form>
</main>

<%- include("../partials/close") %> 