form{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  margin: 20% auto;
  width: 85%;
}
input{
  width: 50%;
  margin: 20px auto;
}
button{
  width: 75px;
  padding: 7px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  background: #104c53;
}
button:hover {
  box-shadow: 20px 7px teal;
}

@media (min-width: 1280px){
  form{
    max-width: 50%;
  }
}