<footer>
	<div class="botFooter">
		<h6>
			Copyright <i class="fa-solid fa-copyright"></i>
			2022 DigitalHaunters S.R.L.
		</h6>
	</div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>