<footer>
    <section class="topFooter">
        <article>
            <i class="fa-solid fa-users"></i>
            <h4>Sobre Nosotros</h4>
            <p>Somos el Grupo 01 de la comisión 02 de Desarrollo Web Fullstack, nuestros integrantes son: Barragán,
                Giraldo, Micha y Torres</p>
        </article>
        <article>
            <i class="fa-solid fa-truck-plane"></i>
            <h4>Envíos Internacionales</h4>
            <p>Nos encargamos de conseguir el mejor envío costo-beneficio.</p>
        </article>
        <article>
            <i class="fa-solid fa-envelope"></i>
            <h4>Contacta con nosotros</h4>
            <ul>
                <li>
                    <a href="https://github.com/Niicoojk/grupo_01_DHaunters" target="_blank">GitHub</a>
                </li>
            </ul>
        </article>
    </section>
    <div class="botFooter">
        <h6>
            Copyright <i class="fa-solid fa-copyright"></i>
            2022 DigitalHaunters S.R.L.
        </h6>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>