<header>
  <nav>
    <a href="/" class="brand">
      <img src="/img/brand/ghost-logo.svg" alt="DHaunters Logo" />
    </a>
    <div class="desktopNav">
      <ul>
        <li><a href="/store/">Mercado</a></li>
        <li><a href="/user/cart">Carrito</a></li>
        <li><a href="/user/collection">Colección</a></li>
        <li><a href="/user/favourites">Favoritos</a></li>
      </ul>
    </div>
    <% if (locals.admin === true) { %>
        <div class="dropdown">
          <ul class="dropdownMenu">
            <a href="/store/product/create">Creacion de Productos</a>
          </ul>
        </div>
        <% } %>
    <div>
      <% if (locals.user) { %>
      <a href="/user/">
        <figure class="avatar-hold">
          <img src="/img/avatars/<%= user.image %>" alt="UImg" />
        </figure>
        <p userName="<%= user.user_name %>" id="userName">
          <%= user.user_name %>
        </p>
      </a>
      <% } else {%>
      <a href="#" id="choice">
        <i class="fa-regular fa-user"></i>
      </a>
      <% } %>
      <a href="" id="burgerMenu"><i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="mobileNav">
      <ul>
        <li>
          <a href="/product/">Mercado</a>
        </li>
        <li>
          <a href="/user/collection">Colección</a>
        </li>
        <li>
          <a href="/user/favourites">Favoritos</a>
        </li>
        <li>
          <a href="/user/cart">Carrito</a>
        </li>
        <li>
          <a href="/">DHaunters</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="overlay" class="hidden">
    <div id="popup" class="hidden">
      <p id="closePopup">
        <i class="fa-solid fa-xmark"></i>
      </p>
      <div class="choice">
        <p>
          <a href="/user/register">Registrarse</a>
        </p>
        <p>
          <a href="/user/login">Iniciar Sesión</a>
        </p>
      </div>
    </div>
  </div>
</header>

<noscript>
  <p>
    Algunas funciones de nuestra página podrían no estar disponibles si continúa
    con javascript desactivado.
  </p>
</noscript>
