<%- include("../partials/head") %>
<%- include("../partials/headerUserForm") %>

<main>
  <div class="icono"><i class="fa-solid fa-circle-user"></i></div>
  <form action="/user/login" method="POST">
  <div>
    <input type="text" name="login_key" placeholder="Nombre de usuario o email" id="login_key" class="drawer" />
    <% if (locals.errors && errors.login_key) { %>
        <div class="error-msg">
          <%= errors.login_key.msg %>           
      </div> 
      <% } %>
    <input type="password" name="password" placeholder="Contraseña" id="password" class="drawer"  />
          <% if (locals.errors && errors.password) { %>
        <div class="error-msg">
          <%= errors.password.msg %>           
      </div> 
      <% } %>
  </div>
  <button type="submit" name="send" value="submit" id="send" class="registrarse">
    Iniciar sesión
  </button>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="rememberMe" value="rememberMe" id="rememberMe" />
      Recuerdame
    </label>
    <p> <a href="#">¿Has olvidado tu contraseña?</a></p>

  </div>
  </form>
</main>
</body>

</html>