<%- include("../partials/head") %>
<%- include("../partials/header") %>
<main>
    <h2>Bienvenido <%= user.first_name.toUpperCase() %> </h2>
<div class="avatar"><figure class="userAvatar"><img src="/img/avatars/<%= user.image %>"></figure> </div>



</main>