<%- include("../partials/head") %>
<%- include("../partials/header") %>
<main>

	<h2>Bienvenido <%= user.user_name %> </h2>
	<div class="avatar">
		<figure class="userAvatar">
			<img src="/img/avatars/<%= user.image %>">
		</figure> 
	</div>

</main>
	
</body>

</html>